@charset "UTF-8";
:root {
  /*Основные шрифты*/
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-txt: #2196f3;
  /*Цвет текста светлая тема*/
  --primary-txt--mode-light: #212121;
  --secondary-txt--mode-light: #757575;
  /*Цвет текста темная тема*/
  --primary-txt--mode-black: #ffffff;
  --secondary-txt--mode-black: rgba(255, 255, 255, 0.6);
  /* Цвет фона */
  --main-bg: #e5e5e5;
  /* Светлая тема фона */
  --light-bg: #f5f4fa;
  /* Темная тема фона */
  --dark-bg: #2f303a;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-txt--mode-light);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Прячем заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section__title {
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.hero__button, .subscription__btn, .btn-submit {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-txt);
  color: var(--primary-txt--mode-black);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
}

.logo--blue {
  color: var(--accent-txt);
}

.nav__list {
  display: flex;
}

.nav__list .link.current {
  color: var(--accent-txt);
}

.nav__item:not(:last-child) {
  margin-right: 50px;
  position: relative;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt);
}

.nav__link--current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-txt);
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--secondary-txt--mode-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-txt);
  fill: var(--accent-txt);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  background-color: var(--dark-bg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-txt--mode-black);
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  border: transparent;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.benefits {
  display: flex;
}

.benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--light-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__text {
  margin-top: 10px;
  color: var(--secondary-txt--mode-light);
}

.section--nopading-top {
  padding-top: 0;
}

.services {
  display: flex;
  margin-top: 50px;
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__wrapper {
  position: relative;
  max-width: 370px;
  max-height: 294px;
}

.services__name {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-txt--mode-black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
}

.section--user-background {
  background-color: var(--light-bg);
}

.team {
  display: flex;
  margin-top: 50px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-txt--mode-black);
  text-align: center;
}

.team__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-txt--mode-light);
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-txt);
  fill: var(--primary-txt--mode-black);
}

.clients {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: boder-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-txt);
  border-color: var(--accent-txt);
}

.footer {
  background-color: var(--dark-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__contacts {
  flex-grow: 1;
}

.footer .logo {
  color: var(--primary-txt--mode-black);
}

.address {
  font-style: normal;
  margin-top: 20px;
}

.address__link {
  color: var(--primary-txt--mode-black);
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-socials {
  margin-left: 70px;
}

.footer-socials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-txt--mode-black);
  margin-bottom: 20px;
}

.footer-socials__list {
  display: flex;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-txt);
}

.footer-socials__icon {
  fill: var(--primary-txt--mode-black);
}

/* Форма футера */
.subscription {
  margin-left: 93px;
}

.subscription__form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-txt--mode-black);
}

.subscription__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscription__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.examples-selection__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.examples-selection__item:not(:last-child) {
  margin-right: 8px;
}

.examples-selection__btn {
  min-width: 73px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--light-bg);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-selection__btn:hover, .examples-selection__btn:focus {
  background-color: #188ce8;
  color: var(--primary-txt--mode-black);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.examples__list {
  display: flex;
  flex-wrap: wrap;
}

.examples__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.examples__item:nth-child(3n) {
  margin-right: 0;
}

.examples__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__card {
  position: relative;
  overflow: hidden;
}

.examples__card--overlay-text {
  display: flex;
  width: 322px;
  height: 168px;
  color: var(--primary-txt--mode-black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
}

.examples__card--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__link:hover .examples__card--overlay,
.examples__link:focus .examples__card--overlay {
  transform: translateY(0);
  opacity: 1;
}

.examples__description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.examples__subject {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-txt--mode-light);
}

.examples__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-txt--mode-light);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-txt--mode-black);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.btn-close :hover {
  fill: var(--accent-txt);
}

.modal-form {
  padding: 40px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-txt--mode-light);
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition: boder-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:nth-child(5) {
  margin-bottom: 20px;
}

.modal-form__field :hover,
.modal-form__field :focus {
  outline: none;
  border-color: var(--accent-txt);
  transition: border-color 25 0ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field :hover ~ .modal-form__svg,
.modal-form__field :focus ~ .modal-form__svg {
  fill: var(--accent-txt);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__svg {
  position: absolute;
  left: 15px;
  bottom: 14px;
  display: inline-block;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.modal-form__textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.cheсkbox__link {
  color: var(--accent-txt);
  text-decoration: underline;
}

.cheсkbox {
  position: relative;
}

.cheсkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.cheсkbox__check {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.cheсkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cheсkbox__input:checked + .cheсkbox__check {
  background-color: var(--accent-txt);
  background-image: url(../images/chek-on.svg);
  background-position: center;
  background-origin: content-box;
  background-size: contain;
  border: 0.2px solid #ffffff;
  border-radius: 2px;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */