.benefits {
  @include mq(tablet) {
    display: flex;
  }
  @include mq(tablet-only) {
    flex-wrap: wrap;
  }
}

.benefits__item {
  margin: 0px auto;
    @include mq(tablet-only) {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @include mq(desktop) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.benefits__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 270px;
  width: 100%;
  height: 120px;
  background-color: var(--light-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__text {
  margin-top: 10px;
  color: var(--secondary-txt--mode-light);
}
