.footer {
  background-color: var(--dark-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
  display: block;
  margin: 0 auto;
  // display: flex;
  // align-items: baseline;
}

.footer__contacts {
  flex-grow: 1;
}

.footer .logo {
  color: var(--primary-txt--mode-black);
}

.address {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 60px;

  &__link {
    color: var(--primary-txt--mode-black);
  }

  &__contacts {
    color: rgba(255, 255, 255, 0.6);
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-socials {
  margin-bottom: 60px;
  // margin-left: 70px;
}

.footer-socials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-txt--mode-black);
  margin-bottom: 20px;
}

.footer-socials__list {
  display: flex;
  justify-content: center;
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-txt);
  }
}

.footer-socials__icon {
  fill: var(--primary-txt--mode-black);
}

/* Форма футера */
// .subscription {
//   margin-left: 93px;
// }

// .subscription__form {
//   display: flex;
//   align-items: center;
//   margin-top: 20px;
// }

.subscription__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-txt--mode-black);
}

.subscription__input {
  margin-bottom: 20px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscription__btn {
  @extend %button_base;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  // margin-left: 12px;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription__icon {
  margin-left: 10px;
  fill: #ffffff;
}
