.header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }

  &--blue {
    color: var(--accent-txt);
  }
}
.menu-btn {
  position: relative;
  margin-left: auto;
  display: block;
  padding: 0;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
  z-index: 10;

  &__icon {
    width: 40px;
    height: 40px;

    &--close {
      opacity: 1;
    }

    &--open {
      opacity: 0;
    }
  }
  &:hover,
  &:focus {
    fill: var(--accent-txt);
  }
}

.menu-btn.is-active .menu-btn__icon--close {
  opacity: 0;
}
.menu-btn.is-active .menu-btn__icon--open {
  opacity: 1;
}

// .contact {
//   display: flex;
//   margin-left: auto;
// }

// .contact__item:not(:last-child) {
//   margin-right: 50px;
// }

// .contact__link {
//   display: flex;
//   align-items: center;
//   font-weight: 500;
//   color: var(--secondary-txt--mode-light);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-txt);
//     fill: var(--accent-txt);
//   }
// }

// .contact__icon {
//   fill: currentColor;
//   margin-right: 10px;
// }
